<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{{ SITENAME }}, {{ TAGLINE }}{% endblock meta_description %}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/pure.css">

    <script src="http://use.typekit.net/ajf8ggy.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>

    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <div class="pure-g-r content" id="layout">
        <div class="pure-u" id="nav">
            <a href="#" class="nav-menu-button">Menu</a>

            <div class="nav-inner">
                <h1>
                    <a class="logo" href="{{ SITEURL }}"><img id="profileimg" src="{{ PROFILE_IMG_URL }}" alt="{{ SITENAME }}"></a>
                </h1>
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <span class="pure-menu-heading">{{ SITENAME }}</span>
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% for p in PAGES %}
                            <li{% if p == page %}{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                        <li class="pure-menu-heading">Categories</li>
                        {% for cat, null in categories %}
                            <li><a href="{{ SITEURL }}/{{ cat.url }}">{% if cat == category %}<span class="cat-label-yellow"{% endif %}<span class="cat-label-blue"></span>{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="pure-u-3-4">
            <footer class="footer">
                <p>&copy; {{ SITENAME }} &ndash;
                    Built with <a href="https://github.com/danclaudiupop/pure">Pure Theme</a>
                    for <a href="http://blog.getpelican.com/">Pelican</a>
                </p>
                <p>Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
            </footer>
        </div>

    <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
    <script>
        YUI().use('node-base', 'node-event-delegate', function (Y) {

            var menuButton = Y.one('.nav-menu-button'),
                nav        = Y.one('#nav');

            // Setting the active class name expands the menu vertically on small screens.
            menuButton.on('click', function (e) {
                nav.toggleClass('active');
            });

            // Your application code goes here...

        });
    </script>
    <script>
        YUI().use('node-base', 'node-event-delegate', function (Y) {
            // This just makes sure that the href="#" attached to the <a> elements
            // don't scroll you back up the page.
            Y.one('body').delegate('click', function (e) {
                e.preventDefault();
            }, 'a[href="#"]');
        });
    </script>

    {% include 'analytics.html' %}
</body>
</html>
